@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: primaryFont;
  src: url(../../public/fonts/primaryFont.woff2) format(woff2);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: primaryFont;
  scroll-behavior: ease;
}
