.megamenu {
  width: 97dvw;
  z-index: 3;
  transition: 1s ease;
  overflow: hidden;
  animation: dropdown 1.5s cubic-bezier(1, 0.02, 0, 0.97) forwards;
}
@keyframes dropdown {
  0% {
    min-height: 0dvh;
  }
  100% {
    min-height: 100dvh;
  }
}

.navlinks {
  opacity: 0;
  color: black;
  padding: 15px 0px;
  animation: navlink 2s 1s ease forwards;
}
@keyframes navlink {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
