.imageSection {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.image1 {
  background-image: url(../../../../public/images/demoImage1.webp);
}

.image2 {
  background-image: url(../../../../public/images/demoImage4.webp);
}

.image3 {
  background-image: url(../../../../public/images/demoImage2.webp);
}

.image4 {
  background-image: url(../../../../public/images/demoImage3.webp);
}

.image1,
.image2,
.image3,
.image4 {
  width: 300px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease;
  cursor: pointer;
  &:hover {
    width: 900px;
  }
}

@media (max-width: 670px) {
  .image1,
  .image2,
  .image3,
  .image4 {
    width: 95dvw;
    &:hover {
      width: 95dvw;
    }
  }
}

/* .demoImage {
      width: 300px;
      height: 600px;
      transition: 0.5s ease;
    
      &:hover {
        width: 500px;
      }
    } */
